@model List<ResultFlightDto>
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Uçuşlarımız";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@await Component.InvokeAsync("_BreadCrumbComponent")
<main>
    <div class="booking-area booking-style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="booking-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="bOOKing-tab" data-bs-toggle="tab"
                                        data-bs-target="#bOOKing-tab-pane" type="button" role="tab"
                                        aria-controls="bOOKing-tab-pane" aria-selected="true">
                                    <i class="flaticon-flight"></i>uçuşları detaylı ara
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="bOOKing-tab-pane" role="tabpanel"
                                 aria-labelledby="bOOKing-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <form action="/Flights/Index" method="get" class="booking-form">
                                                <ul class="d-flex justify-content-around">
                                                    <li>
                                                        <div class="form-grp">
                                                            <input type="text" required name="FromWhere" placeholder="Nereden">
                                                        </div>
                                                        

                                                    </li>
                                                    <li>
                                                        <div class="form-grp">
                                                            <input type="text" required name="ToWhere" placeholder="Nereye">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp date">
                                                            <ul>
                                                                <li>
                                                                    <label for="shortBy">Başlangıç</label>
                                                                    <input type="date" name="Departure" required class="w-100"
                                                                           placeholder="Başlangıç Tarih">
                                                                </li>
                                                                <li>
                                                                    <label for="shortBy">Bitiş</label>
                                                                    <input type="date" name="Arrival" required class="w-100"
                                                                           placeholder="Bitiş Tarihi">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp">
                                                            <div class="content-bottom">
                                                                <button type="submit" class="btn btn-sm">Uçuşları Göster <i class="flaticon-flight-1"></i></button>
                                                               
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp">
                                                            <div class="content-bottom">
                                                                <a href="/Flights/Index">Filtreyi Sıfırla</a>

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                   
                                            </form>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- booking-area-end -->
    <!-- booking-list-area -->
    <div class="booking-list-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-27 order-2 order-xl-0">
                    <aside class="booking-sidebar">
                        <div class="widget filters">
                            <h2 class="title">filters</h2>
                            <div class="filters-wrap">
                                <h2 class="widget-title">Price Range</h2>
                                <div class="price_filter">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <span>Price :</span>
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        <input type="submit" class="btn" value="Filter">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Departure Time</h2>
                            <ul class="departure-wrap">
                                <li><a href="#"><i class="flaticon-sunrise"></i>00:00 - 05:59</a></li>
                                <li><a href="#"><i class="flaticon-sunny"></i>06:00 - 11:59</a></li>
                                <li><a href="#"><i class="flaticon-sunset"></i>12:00 - 17:59</a></li>
                                <li><a href="#"><i class="flaticon-crescent-moon"></i>18:00 - 23:59</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Number of Stops</h2>
                            <form action="#" class="flight-stops">
                                <label for="stopNumber"><i class="flaticon-flight"></i></label>
                                <select id="stopNumber" name="select" class="form-select" aria-label="Default select example">
                                    <option value="">Direct</option>
                                    <option>One Stops</option>
                                    <option>Two Stops</option>
                                </select>
                            </form>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Airlines</h2>
                            <ul class="airlines-cat-list">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="catOne">
                                        <label class="form-check-label" for="catOne">Etihad Airway<span>(12)</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="catTwo">
                                        <label class="form-check-label" for="catTwo">Lankan Airlines<span>(09)</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="catThree">
                                        <label class="form-check-label" for="catThree">Dubai Airway<span>(12)</span></label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="catFour">
                                        <label class="form-check-label" for="catFour">NOVOAIR<span>(36)</span></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Weights</h2>
                            <ul class="airlines-cat-list weights-list">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="weightsOne">
                                        <label class="form-check-label" for="weightsOne">25 KG</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h2 class="widget-title">Refundable</h2>
                            <ul class="airlines-cat-list">
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="refOne">
                                        <label class="form-check-label" for="refOne">Non Refundable</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="refTwo">
                                        <label class="form-check-label" for="refTwo">Refundable</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="refThree">
                                        <label class="form-check-label" for="refThree">Rules Wise</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-73">
                    @foreach (var item in Model)
                    {
                        <div class="booking-list-item">
                            <div class="booking-list-item-inner">
                                <div class="booking-list-top">
                                    <div class="flight-airway">
                                        <div class="flight-logo">
                                            <img src="~/geair/assets/img/logo/logo_02.png" style="height:30px;" alt="">
                                        </div>
                                        <span>Geair Havayolları</span>
                                    </div>
                                    <ul class="flight-info d-flex">
                                        <li>@item.DepartureTime.ToShortDateString()<span>@item.DepartureAirportCity</span></li>
                                        @* <li><span><i class="flaticon-flight-1"></i></span></li> *@
                                        <li class="time"><span>@item.DepartureTime.ToShortTimeString()</span>@item.ArrivalAirportCity</li>
                                    </ul>
                                    <div class="flight-price">
                                        <h4 class="title">@item.EconomyPrice ₺</h4>
                                        <a href="booking-details.html" class="btn">Seçiniz<i class="flaticon-flight-1"></i></a>
                                    </div>
                                </div>
                                <div class="booking-list-bottom">
                                    <ul>
                                        <li class="detail"><i class="fa-solid fa-angle-down"></i> Uçuş Detayları</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flight-detail-wrap">
                                <div class="flight-date">
                                    <ul>
                                        <li>@item.DepartureTime.ToShortDateString()</li>
                                        <li>@item.DepartureTime.ToShortDateString() - @item.DepartureTime.ToShortTimeString() <span>@{
                                                    TimeSpan duration = item.ArrivalTime - item.DepartureTime;  
                                                }
                                        @duration
                                        </span></li>
                                        <li>@item.ArrivalTime.ToShortDateString() - @item.ArrivalTime.ToShortTimeString()</li>
                                    </ul>
                                </div>
                                <div class="flight-detail-right">
                                    <h4 class="title">@item.DepartureAirport, @item.DepartureAirportCity</h4>
                                    <div class="flight-detail-info">
                                        <img src="~/geair/assets/img/logo/logo_02.png" style="width:50px;" alt="">
                                        <ul>
                                            <li>Geair Airlines</li>
                                            <li>Ekonomi: @item.EconomyPrice ₺ | Business:@item.BusinessPrice ₺ | Uçuş Numarası: @item.FlightNumber | Uçak: @item.AircraftModel</li>
                                            <li>Bagaj Hakkı: @item.AircraftBaggageWeightPerson.ToString("0.00") kilo Ücretsiz Bagaj Hakkı</li>
                                        </ul>
                                    </div>
                                    <h4 class="title title-two">@item.ArrivalAirport, @item.ArrivalAirportCity</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- booking-list-area-end -->

</main>

