@using Geair.DTOLayer.AirportDtos
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ResultFlightDto>
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Uçuşlarımız";
    Layout = "~/Views/Shared/_UILayout.cshtml";
    var airports = ViewBag.Airports as List<ResultAirportDto>;
}
<style>
    .select-container {
        position: relative;
        display: inline-block;
    }

        .select-container select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: #f8f3e7;
            border: none;
            padding: 10px;
            width: 100%;
            color: #333;
            font-size: 16px;
        }

        .select-container .fa-chevron-down {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: #333;
        }
</style>
@await Component.InvokeAsync("_BreadCrumbComponent")
<main>
    <div class="booking-area booking-style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="booking-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="bOOKing-tab" data-bs-toggle="tab"
                                        data-bs-target="#bOOKing-tab-pane" type="button" role="tab"
                                        aria-controls="bOOKing-tab-pane" aria-selected="true">
                                    <i class="flaticon-flight"></i>uçuşları detaylı ara
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="bOOKing-tab-pane" role="tabpanel"
                                 aria-labelledby="bOOKing-tab" tabindex="0">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="">
                                            <form action="/Flights/Index" method="get" class="booking-form">
                                                <ul class="d-flex justify-content-around">
                                                    <li>
                                                        <div class="form-grp">
                                                            @*  <input type="text" required name="FromWhere" placeholder="Nereden"> *@
                                                            <div class="select-container">
                                                                <select id="FromWhere" name="FromWhere" class="form-control" required>
                                                                    <option value="">Nereden...</option>
                                                                    @if (airports != null)
                                                                    {
                                                                        foreach (var airport in airports)
                                                                        {
                                                                            <option value="@airport.AirportId">@airport.AirportTitle</option>
                                                                        }
                                                                    }
                                                                </select>
                                                                <i class="fas fa-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp">
                                                            @*  <input type="text" required name="ToWhere" placeholder="Nereye"> *@
                                                            <div class="select-container">
                                                                <select id="ToWhere" required name="ToWhere" class="form-control">
                                                                    <option value="">Nereye...</option>
                                                                    @if (airports != null)
                                                                    {
                                                                        foreach (var airport in airports)
                                                                        {
                                                                            <option value="@airport.AirportId">@airport.AirportTitle</option>
                                                                        }
                                                                    }
                                                                </select>
                                                                <i class="fas fa-chevron-down"></i>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp date">
                                                            <ul>
                                                                <li>
                                                                    <label for="shortBy">Başlangıç</label>
                                                                    <input type="date" name="Departure" required class="w-100"
                                                                           placeholder="Başlangıç Tarih">
                                                                </li>
                                                                <li>
                                                                    <label for="shortBy">Bitiş</label>
                                                                    <input type="date" name="Arrival" class="w-100"
                                                                           placeholder="Bitiş Tarihi">
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp">
                                                            <div class="content-bottom">
                                                                <button type="submit" class="btn btn-sm">Uçuşları Göster <i class="flaticon-flight-1"></i></button>

                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-grp">
                                                            <div class="content-bottom">
                                                                <a href="/Flights/Index">Filtreyi Sıfırla</a>

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- booking-area-end -->
    <!-- booking-list-area -->
    <div class="booking-list-area">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-100">
                    @if (!string.IsNullOrEmpty(ViewBag.Errors))
                    {
                        <div class="alert alert-warning">@ViewBag.Errors</div>
                    }
                    @foreach (var item in Model)
                    {
                        <div class="booking-list-item">
                            <div class="booking-list-item-inner">
                                <div class="booking-list-top">
                                    <div class="flight-airway">
                                        <div class="flight-logo">
                                            <img src="~/geair/assets/img/logo/logo_02.png" style="height:30px;" alt="">
                                        </div>
                                        <span>@item.FlightType</span>
                                    </div>
                                    <ul class="flight-info d-flex">
                                        <li>@item.DepartureTime.ToShortDateString()<span>@item.DepartureAirportCity</span> </li>
                                        @* <li><span><i class="flaticon-flight-1"></i></span></li> *@
                                        <li class="time"><span>@item.DepartureTime.ToShortTimeString()</span>@item.ArrivalAirportCity</li>
                                    </ul>
                                    <div class="flight-price">
                                        <h4 class="title">@item.EconomyPrice ₺</h4>
                                        <a href="/Flights/Ticket/@item.FlightId" class="btn">Seçiniz<i class="flaticon-flight-1"></i></a>
                                    </div>
                                </div>
                                <div class="booking-list-bottom">
                                    <ul>
                                        <li class="detail"><i class="fa-solid fa-angle-down"></i> Uçuş Detayları</li>
                                        @if(item.FlightType.Equals("Gidiş Dönüş"))
                                        {
                                            <li class="text-danger">Dönüş Tarihi:@item.DateOfReturn</li>

                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="flight-detail-wrap">
                                <div class="flight-date">
                                    <ul>
                                        <li>@item.DepartureTime.ToShortDateString()</li>
                                        <li>
                                            @item.DepartureTime.ToShortDateString() - @item.DepartureTime.ToShortTimeString() <span>
                                                @{
                                                    TimeSpan duration = item.ArrivalTime - item.DepartureTime;
                                                }
                                                @duration
                                            </span>
                                        </li>
                                        <li>@item.ArrivalTime.ToShortDateString() - @item.ArrivalTime.ToShortTimeString()</li>
                                    </ul>
                                </div>
                                <div class="flight-detail-right">
                                    <h4 class="title">@item.DepartureAirport, @item.DepartureAirportCity</h4>
                                    <div class="flight-detail-info">
                                        <img src="~/geair/assets/img/logo/logo_02.png" style="width:50px;" alt="">
                                        <ul>
                                            <li>Geair Airlines</li>
                                            <li>Ekonomi: @item.EconomyPrice ₺ | Business:@item.BusinessPrice ₺ | Uçuş Numarası: @item.FlightNumber | Uçak: @item.AircraftModel</li>
                                            <li>Bagaj Hakkı: @item.AircraftBaggageWeightPerson.ToString("0.00") kilo Ücretsiz Bagaj Hakkı</li>
                                        </ul>
                                    </div>
                                    <h4 class="title title-two">@item.ArrivalAirport, @item.ArrivalAirportCity</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="row">
                <div class="col-100 d-flex justify-content-center py-3">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new X.PagedList.Web.Common.PagedListRenderOptionsBase
               {
                   ContainerDivClasses = new[] { "navigation" },
                   LiElementClasses = new[] { "page-item" },
                   PageClasses = new[] { "page-link" },
               })
                </div>
            </div>

        </div>
    </div>
    <!-- booking-list-area-end -->

</main>

