@model CreateTicketDto
@{
    ViewData["Title"] = "Ticket";
    ViewData["PageTitle"] = "Uçak Bileti";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
@await Component.InvokeAsync("_BreadCrumbComponent")
<section class="booking-details-area">
    <div class="container">
        <form method="post">

        <div class="row justify-content-center">
            <div class="col-73">
                @await Component.InvokeAsync("_FormTitleComponent",ViewBag.id)
                <div class="booking-details-wrap">
                        <input type="hidden" id="economyprice" value="@ViewBag.economy" />
                        <input type="hidden" id="businessprice" value="@ViewBag.business" />
                        <input type="hidden" name="TotalPrice" id="totalPriceInput" />
                        <input type="hidden" name="FlightType" value="@ViewBag.flightType" id="flighttype" />
                        <input type="hidden" name="DateOfReturn" value="@Model.DateOfReturn" />
                        <input type="hidden" asp-for="@Model.FlightId" />
                        <div class="form-grp select-form">
                            <div class="icon">
                                <i class="flaticon-add-user"></i>
                            </div>
                            <div class="form">
                                <label for="shortBy">Kişi Sayısı</label>
                                <select id="shortBy" name="PersonCount" onchange="ticketprice()" class="personcount form-select" aria-label="Default select example">
                                    <option selected>Seçiniz..</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <span asp-validation-for="@Model.PersonCount" class="text-danger"></span>
                            </div>
                        </div>
                        <ul>
                            <li>
                                <div class="form-grp">
                                    <div class="icon">
                                        <i class="flaticon-user-1"></i>
                                    </div>
                                    <div class="form">
                                        <select id="title" name="Gender" class="form-select" aria-label="Default select example">
                                            <option selected>Cinsiyet Seçiniz</option>
                                            <option value="Erkek">Erkek</option>
                                            <option value="Kadın">Kadın</option>
                                        </select>
                                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="form-grp">
                                    <input type="text" name="Name" placeholder="Adınız *">
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>
                            </li>
                            <li>
                                <div class="form-grp">
                                    <input type="text" name="Surname" placeholder="Soyadınız *">
                                    <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                                </div>
                            </li>
                        </ul>
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="form-grp">
                                    <div class="icon">
                                        <i class="flaticon-telephone-call"></i>
                                    </div>
                                    <div class="form">
                                        <input type="number"name="Phone" placeholder="Telefon Numarası *">
                                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-grp select-form">
                                    <div class="icon">
                                        <i class="flaticon-plane"></i>
                                    </div>
                                    <div class="form">
                                        <label for="shortBy">Bilet Türü</label>
                                        <select id="shortBy" name="TicketType"onchange="ticketprice()" class="tickettype form-select" aria-label="Default select example">
                                            <option selected value="">Bilet Türü Seçiniz..</option>
                                            <option value="Economy">Economy</option>
                                            <option value="Business">Business</option>
                                        </select>
                                        <span asp-validation-for="@Model.TicketType" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-grp">
                                    <div class="icon">
                                        <i class="flaticon-calendar"></i>
                                    </div>
                                    <div class="form">
                                        <label for="shortBy">Doğum Tarihiniz</label>
                                        <input type="text" name="BirthDate" class="date" placeholder="Doğum Tarihiniz *">
                                        <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                         
                            <div class="col-md-12">
                                <div class="form-grp">
                                    <div class="icon">
                                        <i class="flaticon-arroba"></i>
                                    </div>
                                    <div class="form">
                                        <label for="email">Email</label>
                                        <input type="email" name="Email" id="email" placeholder="youinfo@gmail.com *">
                                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        <div class="form-grp checkbox-grp">
                            <input type="checkbox" asp-for="@Model.AcceptTerms" id="checkbox">
                            <label for="checkbox">Şartları okudum, kabul ediyorum.</label><br />
                            <span asp-validation-for="@Model.AcceptTerms" class="text-danger"></span>
                        </div>
                </div>
            </div>
                @await Component.InvokeAsync("_BookingInfoComponent", ViewBag.id)
                
        </div>
        </form>

    </div>
</section>
<script>
  
    function ticketprice() {
        let tickettype = document.querySelector(".tickettype");
        let personcount = document.querySelector(".personcount").value;
        document.querySelector("#flightsummarypersoncount").textContent = personcount;
        let flighttype = document.querySelector("#flighttype").value;
        let value = tickettype.value;
        let text = tickettype.options[tickettype.selectedIndex].text;
        if (text == "Economy") {
            let economyprice = document.querySelector("#economyprice").value;
            let result = parseFloat(personcount) * parseFloat(economyprice);
            let tax = (result * 10) / 100;
            result = result + tax;
            document.querySelector("#flightsummarytotalprice").textContent = result;
            if (flighttype == "Gidiş Dönüş") {
                result = result * 2;
                result = result + tax;
                document.querySelector("#flightsummarytotalprice").textContent = result;
            }
            
            console.log("Person Count", personcount);
            console.log("Economy Price", economyprice);
            console.log("Economy Total Price: ", result);
            document.querySelector("#totalPriceInput").value = result;
            
        } else if(text=="Business") {
            let businessprice = document.querySelector("#businessprice").value;
            let result = parseFloat(personcount) * parseFloat(businessprice);
            let tax = (result * 10) / 100;
            result = result + tax;
            document.querySelector("#flightsummarytotalprice").textContent = result;
            if (flighttype == "Gidiş Dönüş") {
                result = result * 2;
                result = result + tax;
                document.querySelector("#flightsummarytotalprice").textContent = result;
            }
            console.log("Person Count", personcount);
            console.log("BUsiness Price", businessprice);
            console.log("Business Total Price: ", result);
            document.querySelector("#totalPriceInput").value = result;
        }
    }
</script>
