@model ResultAboutDto
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-0 order-lg-2">
                <div class="about-img">
                    <img src="@Model.ImageUrl1" alt="img">
                    <img src="@Model.ImageUrl2" alt="img" class="img-two">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">Biz Kimiz?</span>
                        <h2 class="title">@Model.Title</h2>
                    </div>
                    <p>@Model.Description</p>
                    <ul>
                        <li><i class="flaticon-tick-1"></i>@Model.Description1</li>
                        <li><i class="flaticon-tick-1"></i>@Model.Description2</li>
                        <li><i class="flaticon-tick-1"></i>@Model.Description3</li>
                    </ul>
                    <a href="/Contact/Index" class="btn">İletişim</a>
                </div>
            </div>
        </div>
    </div>
</section>