@model List<ResultTravelListOrderByDto>
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Turlar";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

@await Component.InvokeAsync("_BreadCrumbComponent")
<section class="fly-next-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">Geair Hava Yolu ve Gezi Turları</span>
                    <h2 class="title">Tüm Turlarımız</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item grid-sizer">
                    <div class="fly-next-item">
                        <h5>@item.Title</h5>
                        <hr />
                        <div class="fly-next-thumb">
                            <a href="booking-details.html"><img src="@item.CoverImageUrl" class="w-100" style="height:150px;" alt=""></a>
                        </div>
                        <div class="fly-next-content">
                            <span>@item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()</span>
                            <h4 class="title">@item.FromWhere</h4>
                            <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                            <h4 class="title">@item.ToWhere</h4>
                            <h4 class="title mt-2">Kapasite: @item.Capacity</h4>
                            <a href="/ReservationTravel/Index/@item.TravelId" class="btn btn-sm mt-3">Tur'a Katıl</a>
                            <div class="content-bottom">
                                <h4 class="price">$@item.Price</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

