@model List<ResultContactDto>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Gelen Mesajlar</h3><br />
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Adı Soyadı</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Konu</th>
                    <th>Sil</th>
                    <th>Detaylı Gör</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.NameSurname</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Subject</td>
                        <td><a onclick="areyousure(this)" id="@item.ContactId" class="btn btn-danger">Sil</a></td>
                        <td><a href="#" class="btn btn-info">Detaylar</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>

<script>
    function areyousure(button) {
        var id = button.getAttribute("id");
        Swal.fire({
            title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlemi geri alamazsınız",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Contacts/DeleteMessage/" + id;
            }
        });
    }
</script>

