@model UpdateCompanyAddressDto
@{
    ViewData["Title"] = "UpdateCompanyAddress";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"> İletişim Bilgilerini Güncelle</h3>
    </div>
    <form method="post">
        @if (ViewBag.message != null)
        {
            <h5 class="text-danger p-3">@ViewBag.message</h5>
        }
        else
        {
            <input type="hidden" asp-for="@Model.CompanyAddressId" />
            <div class="card-body">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" asp-for="@Model.Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input type="text" asp-for="@Model.Phone" class="form-control" placeholder="Telefon Numarası">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Adres</label>
                    <textarea asp-for="@Model.Address" class="form-control" placeholder="Adres"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-warning">Güncelle</button>
            </div>
        }
        
    </form>
</div>