@model UpdateBlogDto
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Yeni Blog Oluştur</h3>
    </div>
    <form id="blogForm">
        <div class="card-body">
            <input type="hidden" name="BlogId" id="blogId" value="@Model.BlogId">
            <div class="form-group">
                <label for="title">Başlık</label>
                <input type="text" name="Title" id="title" class="form-control" placeholder="Başlık" value="@Model.Title">
            </div>
            <div class="form-group">
                <label for="coverimageurl">Blog Resim Url</label>
                <input type="text" name="CoverImageUrl" id="coverimageurl" class="form-control" placeholder="Blog Resim Url" value="@Model.CoverImageUrl">
            </div>
            <div class="form-group">
                <label for="categoryId">Kategori</label>
                <select name="CategoryId" id="categoryId" class="form-control">
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.CategoryId" selected="@(item.CategoryId==Model.CategoryId?true:false)">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="description">Açıklama</label>
                <textarea class="form-control" placeholder="Açıklama" id="description" name="Description">@Model.Description</textarea>
            </div>
            <div class="form-group">
                <label for="info">Bilgilendirme</label>
                <textarea class="form-control" placeholder="Bilgilendirme" id="info" name="Info">@Model.Info</textarea>
            </div>
            <div class="form-group">
                <label for="image1">1. Resim Link</label>
                <input type="text" name="ImageUrl1" id="image1" class="form-control" placeholder="1. Resim Link" value="@Model.ImageUrl1">
            </div>
            <div class="form-group">
                <label for="image2">2. Resim Link</label>
                <input type="text" name="ImageUrl2" id="image2" class="form-control" placeholder="2. Resim Link" value="@Model.ImageUrl2">
            </div>
            <span id="errorMessages" class="text-danger"></span>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#blogForm').on('submit', function (event) {
            event.preventDefault();

            var blogId = $('#blogId').val();
            var title = $('#title').val();
            var coverimageurl = $('#coverimageurl').val();
            var description = $('#description').val();
            var categoryId = $('#categoryId').val();
            var info = $('#info').val();
            var image1 = $('#image1').val();
            var image2 = $('#image2').val();
            var values = {
                BlogId:blogId,
                Title:title,
                CoverImageUrl:coverimageurl,
                Description:description,
                CategoryId:categoryId,
                Info:info,
                ImageUrl1:image1,
                ImageUrl2:image2
            };
            console.log(values);
            $('#errorMessages').empty();
            $.ajax({
                url: '/Admin/Blogs/UpdateBlog',
                method: 'POST',
                data: values,
                success: function (response) {
                    alert("Başarılı");
                    window.location.href = "/Admin/Blogs/Index";
                },
                error: function (response) {
                    var errors = response.responseJSON.errors;
                    var errorMessages = '';
                    errors.forEach(function (error) {
                        errorMessages += '<p>' + error + '</p>';
                    });
                    $('#errorMessages').html(errorMessages);
                    console.log(errorMessages);
                }
            });
        });
    });
</script>